@maxWidth: 980px;
.layout() {
  max-width: @maxWidth;
  margin: 0 auto;
  width: 100%;
  padding: 16px;
}

.container {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  transition-duration: 0.15s;
  left: 257px;
  display: flex;
  flex-direction: column;
  justify-content: center;

  .header {
    padding-block: 12px;
    padding-inline: 24px;
    height: 56px;
    overflow: hidden;
  }

  .content {
    flex: 1;
    overflow: auto;

    .wrap {
      .layout();
    }
  }

  .footer {
    .wrap {
      display: flex;
      .layout();
    }

    .input {
      flex: 1;
      margin: 0 12px;
      resize: none;
      padding: 7px 20px;
    }
  }

  &.collapsed {
    left: 65px;

    .header {
      height: 47px;
      padding-block: 8px;
    }

    .content {
      top: 47px;
    }
  }

  &.mobile {
    left: 0;
    top: 56px;

    .header {
      height: 47px;
      padding-block: 8px;
    }
  }
}

.message-container {
  display: flex;
  margin-top: 24px;

  &:first-child {
    margin-top: 0;
  }

  .message {
    max-width: 80%;
    margin: 0 12px;
    min-width: 200px;

    .message-content {
      padding: 12px 20px;
      border-radius: 4px;
      word-break: break-all;
      min-height: 50px;

      & > :last-child {
        margin-bottom: 0;
      }
    }

    .message-info {
      font-size: 12px;
      display: flex;
      margin-top: 2px;
      justify-content: space-between;
    }
  }

  &.ai {
    flex-direction: row;
  }

  &.human {
    flex-direction: row-reverse;

    .message {
      .message-content {
        a {
          color: #fff;
          text-decoration: underline;
        }
      }

      .message-info {
        flex-direction: row-reverse;
      }
    }
  }
}

.markdown {
  color: rgba(255, 255, 255, 85%);

  img {
    max-width: 100%;
  }

  hr {
    border: 1px solid rgba(255, 255, 255, 8%);
  }

  p {
    color: rgba(255, 255, 255, 70%);
  }
}
