@media (max-width: 1430px) {
  .data-list {
    ul {
      grid-template-columns: repeat(4, minmax(210px, 1fr));
    }
  }
}

@media (max-width: 1200px) {
  .data-list {
    ul {
      grid-template-columns: repeat(3, minmax(210px, 1fr));
    }
  }
}

@media (max-width: 980px) {
  .data-list {
    ul {
      grid-template-columns: repeat(2, minmax(210px, 1fr));
    }
  }
}

@media (max-width: 450px) {
  .data-list {
    ul {
      grid-template-columns: 1fr;
    }
  }
}