.layout {
  position: relative;
  transition-duration: 0.3s;

  .sidebar {
    position: fixed;
    top: 0;
    bottom: 0;
    display: flex;
    flex-direction: column;
    transition-duration: 0.3s;
    background-color: #202027;

    .top {
      height: 56px;
      padding: 8px;
      display: flex;
      justify-content: space-between;
      width: 100%;
      align-items: center;

      .title {
        font-weight: 500;
        font-size: 20px;
      }
    }

    .content {
      flex: 1;
      padding: 8px;
    }
  }
}
