openapi: 3.0.0
info:
  title: ApeRAG API
  description: ApeRAG API Documentation
  version: 1.0.0
servers:
  - url: /api/v1
    description: API v1
components:
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
    ApiKeyAuth:
      type: apiKey
      in: header
      name: Authorization
    CookieAuth:
      type: apiKey
      in: cookie
      name: sessionid
paths:
  # bots
  /bots:
    $ref: './paths/bots.yaml#/bots'
  /bots/{bot_id}:
    $ref: './paths/bots.yaml#/bot'
  /bots/{bot_id}/flow:
    $ref: './paths/flow.yaml#/flow'
  /bots/{bot_id}/flow/debug:
    $ref: './paths/bots.yaml#/debugFlow'

  # chats
  /bots/{bot_id}/chats:
    $ref: './paths/chats.yaml#/chats'
  /bots/{bot_id}/chats/{chat_id}:
    $ref: './paths/chats.yaml#/chat'
  /bots/{bot_id}/chats/{chat_id}/messages/{message_id}:
    $ref: './paths/message.yaml#/message'

  # collections
  /collections:
    $ref: './paths/collections.yaml#/collections'
  /collections/{collection_id}:
    $ref: './paths/collections.yaml#/collection'
  /collections/{collection_id}/documents:
    $ref: './paths/collections.yaml#/documents'
  /collections/{collection_id}/documents/{document_id}:
    $ref: './paths/collections.yaml#/document'
  /collections/{collection_id}/searchTests:
    $ref: './paths/collections.yaml#/searchTests'
  /collections/{collection_id}/searchTests/{search_test_id}:
    $ref: './paths/collections.yaml#/searchTest'

  # apikeys
  /apikeys:
    $ref: './paths/apikeys.yaml#/apikeys'
  /apikeys/{apikey_id}:
    $ref: './paths/apikeys.yaml#/apikey'

  # models
  /supported_model_service_providers:
    $ref: './paths/models.yaml#/modelServiceProviders'
  /model_service_providers:
    $ref: './paths/models.yaml#/modelServiceProviders'
  /model_service_providers/{provider}:
    $ref: './paths/models.yaml#/modelServiceProvider'
  /available_models:
    $ref: './paths/models.yaml#/availableModels'
  
  # llm configuration
  /llm_configuration:
    $ref: './paths/llm_configuration.yaml#/llmConfiguration'
  /llm_providers:
    $ref: './paths/llm_configuration.yaml#/llmProviders'
  /llm_providers/{provider_name}:
    $ref: './paths/llm_configuration.yaml#/llmProvider'
  /llm_providers/{provider_name}/models:
    $ref: './paths/llm_configuration.yaml#/llmProviderModels'
  /llm_providers/{provider_name}/models/{api}/{model}:
    $ref: './paths/llm_configuration.yaml#/llmProviderModel'
  /llm_provider_models:
    $ref: './paths/llm_configuration.yaml#/llmProviderModelsList'
  
  # llm services  
  /embeddings:
    $ref: './paths/llm.yaml#/embeddings'
  /rerank:
    $ref: './paths/llm.yaml#/rerank'
  
  # config
  /config:
    $ref: './paths/config.yaml#/config'
  /prompt-templates:
    $ref: './paths/prompt_templates.yaml#/promptTemplates'
  
  # users
  /invite:
    $ref: './paths/auth.yaml#/invite'
  /invitations:
    $ref: './paths/auth.yaml#/invitations'
  /register:
    $ref: './paths/auth.yaml#/register'
  /login:
    $ref: './paths/auth.yaml#/login'
  /logout:
    $ref: './paths/auth.yaml#/logout'
  /users:
    $ref: './paths/auth.yaml#/users'
  /user:
    $ref: './paths/auth.yaml#/user'
  /change-password:
    $ref: './paths/auth.yaml#/changePassword'
  /users/{user_id}:
    $ref: './paths/auth.yaml#/deleteUser'