.item {
  cursor: pointer;
  margin-bottom: 12px;
  transition-duration: 0.3s;

  &:last-child {
    margin-bottom: 0;
  }

  &.disabled {
    cursor: not-allowed;
    opacity: 0.8;
  }

  .row {
    justify-content: space-between;
    width: 100%;

    .avatar {
      font-size: 30;
    }

    .icon {
      font-size: 30px;
      font-weight: bold;
      opacity: 0;
      transition-duration: 0.3s;
    }
  }

  &.selected {
    .row {
      .icon {
        opacity: 1;
      }
    }
  }
}
