  # change api endpoint for local server debug
  API_ENDPOINT=http://127.0.0.1:8000

  # No changes are required for the environment variables below
  BASE_PATH=/web
  PUBLIC_PATH=/web/
  MOCK=none
  PORT=8001
  DID_YOU_KNOW=none