# runtime variable
TZ=UTC

# api endpoint
NEXT_PUBLIC_API_SERVER_ENDPOINT=http://localhost:8000
NEXT_PUBLIC_API_SERVER_BASE_PATH=/api/v1

# router base path in browser
NEXT_PUBLIC_BASE_PATH=

# default theme
NEXT_PUBLIC_DEFAULT_THEME=light

# default locale
NEXT_PUBLIC_DEFAULT_LOCALE=en-US