# MetaDB
POSTGRES_HOST=127.0.0.1
POSTGRES_PORT=5432
POSTGRES_DB=aperag
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres

# Auth
AUTH_TYPE=cookie
AUTH0_DOMAIN=
AUTH0_CLIENT_ID=
AUTHING_DOMAIN=
AUTHING_APP_ID=
LOGTO_DOMAIN=
LOGTO_APP_ID=

# Logging
DJANGO_LOG_LEVEL=INFO

# Celery
CELERY_BROKER_URL=redis://default:password@127.0.0.1:6379/0
CELERY_FLOWER_USER=admin
CELERY_FLOWER_PASSWORD=admin

# MetaDB
DATABASE_URL="postgres://postgres:postgres@127.0.0.1:5432/postgres"

# Vector DB
VECTOR_DB_TYPE=qdrant
VECTOR_DB_CONTEXT={"url":"http://127.0.0.1", "port":6333, "distance":"Cosine", "timeout": 1000}

# Elasticsearch
ES_HOST=http://127.0.0.1:9200

# Redis
MEMORY_REDIS_URL=redis://default:password@127.0.0.1:6379

# Object Store
# OBJECT_STORE_TYPE can be "local" or "s3"
OBJECT_STORE_TYPE=local

# Options for OBJECT_STORE_TYPE=local
OBJECT_STORE_LOCAL_ROOT_DIR=.objects

# Options for OBJECT_STORE_TYPE=s3
OBJECT_STORE_S3_ENDPOINT=http://127.0.0.1:9000
OBJECT_STORE_S3_REGION=
OBJECT_STORE_S3_ACCESS_KEY=minioadmin
OBJECT_STORE_S3_SECRET_KEY=minioadmin
OBJECT_STORE_S3_BUCKET=aperag
#OBJECT_STORE_S3_PREFIX_PATH=dev/
OBJECT_STORE_S3_USE_PATH_STYLE=True

# doc-ray
DOCRAY_HOST=

DEBUG=False
FEISHU_APP_ID=
FEISHU_APP_SECRET=
#FEISHU_ENCRYPT_KEY=

MAX_BOT_COUNT=10
MAX_COLLECTION_COUNT=50
MAX_DOCUMENT_COUNT=1000
MAX_CONVERSATION_COUNT=100

EMBEDDING_MAX_CHUNKS_IN_BATCH=16

# RERANK_BACKEND is one of: xinference, jina
RERANK_BACKEND=jina_ai
RERANK_SERVICE_URL=https://api.jina.ai/v1/rerank
RERANK_SERVICE_MODEL=jina-reranker-v2-base-multilingual
RERANK_SERVICE_TOKEN_API_KEY=

# Specify the chunking size.
# Make sure not to exceed the context length of the embedding model.
CHUNK_SIZE=400
CHUNK_OVERLAP_SIZE=20

CHAT_CONSUMER_IMPLEMENTATION=document-qa

TIKTOKEN_CACHE_DIR=.cache/tiktoken
DEFAULT_ENCODING_MODEL=cl100k_base
TOKENIZERS_PARALLELISM=false
