# MetaDB
POSTGRES_HOST=127.0.0.1
POSTGRES_PORT=5432
POSTGRES_DB=postgres
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
DATABASE_URL=postgresql://postgres:postgres@127.0.0.1:5432/postgres

# Redis
MEMORY_REDIS_URL=redis://default:password@127.0.0.1:6379

# Celery
CELERY_BROKER_URL=redis://default:password@127.0.0.1:6379/0

# Vector DB
VECTOR_DB_TYPE=qdrant
VECTOR_DB_CONTEXT={"url":"http://127.0.0.1","port":6333,"distance":"Cosine","timeout":1000}

# Elasticsearch
ES_HOST=http://127.0.0.1:9200

# Neo4J
NEO4J_HOST=127.0.0.1
NEO4J_PORT=7687
NEO4J_USERNAME=neo4j
NEO4J_PASSWORD=password

# Auth
AUTH_TYPE=cookie
AUTH0_DOMAIN=
AUTH0_CLIENT_ID=
AUTHING_DOMAIN=
AUTHING_APP_ID=
LOGTO_DOMAIN=
LOGTO_APP_ID=

# Logging
DJANGO_LOG_LEVEL=INFO

# Celery
CELERY_FLOWER_USER=admin
CELERY_FLOWER_PASSWORD=admin

# Object Store
# OBJECT_STORE_TYPE can be "local" or "s3"
OBJECT_STORE_TYPE=local

# Options for OBJECT_STORE_TYPE=local
OBJECT_STORE_LOCAL_ROOT_DIR=.objects

# Options for OBJECT_STORE_TYPE=s3
OBJECT_STORE_S3_ENDPOINT=http://127.0.0.1:9000
OBJECT_STORE_S3_REGION=
OBJECT_STORE_S3_ACCESS_KEY=minioadmin
OBJECT_STORE_S3_SECRET_KEY=minioadmin
OBJECT_STORE_S3_BUCKET=aperag
#OBJECT_STORE_S3_PREFIX_PATH=dev/
OBJECT_STORE_S3_USE_PATH_STYLE=True

# doc-ray
DOCRAY_HOST=

DEBUG=False
FEISHU_APP_ID=
FEISHU_APP_SECRET=
#FEISHU_ENCRYPT_KEY=

MAX_BOT_COUNT=10
MAX_COLLECTION_COUNT=50
MAX_DOCUMENT_COUNT=1000
MAX_CONVERSATION_COUNT=100

EMBEDDING_MAX_CHUNKS_IN_BATCH=10

# Specify the chunking size.
# Make sure not to exceed the context length of the embedding model.
CHUNK_SIZE=400
CHUNK_OVERLAP_SIZE=20

TIKTOKEN_CACHE_DIR=.cache/tiktoken
DEFAULT_ENCODING_MODEL=cl100k_base
TOKENIZERS_PARALLELISM=false

# LightRAG
#LIGHTRAG_KV_STORAGE=PGKVStorage
#LIGHTRAG_VECTOR_STORAGE=PGVectorStorage
#LIGHTRAG_GRAPH_STORAGE=Neo4JStorage
#LIGHTRAG_DOC_STATUS_STORAGE=PGDocStatusStorage

LIGHTRAG_KV_STORAGE=PGOpsSyncKVStorage
LIGHTRAG_VECTOR_STORAGE=PGOpsSyncVectorStorage
LIGHTRAG_GRAPH_STORAGE=Neo4JSyncStorage
LIGHTRAG_DOC_STATUS_STORAGE=PGOpsSyncDocStatusStorage