OPENAI_API_BASE=
OPENAI_API_KEY=

#RERANK_BACKEND=
#RERANK_SERVICE_URL=
#RERANK_SERVICE_MODEL=
#RERANK_SERVICE_TOKEN_API_KEY=

RERANK_BACKEND=
RERANK_SERVICE_URL=
RERANK_SERVICE_MODEL=
RERANK_SERVICE_TOKEN_API_KEY=

QIANWEN_API_BASE=
QIANWEN_API_KEY=


SILICONFLOW_API_BASE=
SILICONFLOW_API_KEY=